h1{
  color: blue;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
  background-color: #E0E0E0;
}
p{
  color: #64DD17;
  font-family: sans-serif;


}

ul{
  line-height: 40px;
}
a{
  font-size: 20px;
}
strong{
  font-style: italic;
}
em{
  font-weight: bold;
}
